@charset "ISO-8859-1";

form{
	margin: 50px auto;
	width: 250px;
	height: 330px;
	padding: 1em;
	border: 1px solid purple;
	border-radius: 1em;
	padding-top: 15px;
	text-align: center;
}

.cajas {
	width: 150px;
	height: 25px;
	border-radius: 1em;
	border: 3px double;
	box-shadow: 2px 2px 5px #999;
}

.boton {
	background:purple;
	border-style: none;
	width: 150px;
	height: 30px;
	border-radius: 1em;
	border: 3px double;
	color: white;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 5px #999;
	
}

.boton:hover {
	color:#FBE402;
	text-decoration: none;
}

body {
	font-family: "Arial";
	font-size: 18pt;
	color:purple;
	background-color: #F6EAF4;
}

#etiquetq {
	font-size: 28pt;
	
}

@font-face {
	font-family: letra1;
	src: url(Fuentes/chp-fire.ttf);
}

#logo{
	font-family: letra1, cursive;
	font-size: 60px;
	font-weight: 700;
	background-color: none;
	position: absolute;
	top: 41px;
	left: 36.5%;
}