@charset "ISO-8859-1";

body {
	font-family: "Arial";
	font-size: 20pt;
	color: purple;
	background-color: #F6EAF4;
}

@font-face {
	font-family: letra1;
	src: url(Fuentes/chp-fire.ttf);
}

h1 {
	font-family: letra1;
	font-size: 60px;
	font-weight: 700;
	text-align: center;		
}

form{
	left: 35%;
}

img {
	width: 150px;
	height: 200px;
	margin-left: 75%;
	margin-top: 7%;
	border-radius: 25px;
	box-shadow: 2px 2px 5px #999;
	
}

.boton{
	background: purple;
	border-style: none;
	width: 190px;
	height: 50px;
	border-radius: 1em;
	border: 3px double;
	color: white;
	cursor: pointer;
	box-shadow: 2px 2px 5px #999;
}

.boton:hover {
	color: #FBE402;
	text-decoration: none;
}

#Alta {
	position: absolute;
	height: 50px;
	left: 50px;
	top: 215px;
	font-size: 20pt;
}

#Baja {
	position: absolute;
	height: 50px;
	left: 50px;
	top: 315px;
	font-size: 20pt;
}

#Buscar {
	position: absolute;
	height: 50px;
	left: 50px;
	top: 415px;
	font-size: 20pt;	
}

#Cubrir24horas {
	position: absolute;
	height: 50px;
	left: 450px;
	top: 215px;
	font-size: 18pt;
}

#ListadoBomberos {
	position: absolute;
	height: 50px;
	left: 450px;
	top: 315px;
	font-size: 16pt;
}

#Modificar {
	position: absolute;
	height: 50px;
	left: 450px;
	top: 415px;
	font-size: 20pt;
}


