@charset "ISO-8859-1";

body {
	font-family: "Arial";
	font-size: 18pt;
	color: purple;
	background: rgba(252,234,187,1);
}

a {
	position: relative;
	left: 20%;
	top: 18px;
	font-size: 20px;
	color: #848484;
	font-family: cursive;
}

a:hover {
	color: blue;
	text-decoration: none;
}

h1 {
	font-family: cursive;
	font-size: 40px;
	text-align: center;		
}

table {
	position: relative;
	left: 20%;
}

table tr:hover {
	background-color: #f00;	
}