@charset "ISO-8859-1";

body {
	font-family: "Arial";
	font-size: 18pt;
	color: purple;
	background: rgba(252,234,187,1);
}

a {
	position: relative;
	left: 33%;	
	top: 18px;
	font-size: 20px;
	color: #848484;
	font-family: cursive;
}

a:hover {
	color: blue;
	text-decoration: none;
}

h1 {
	font-family: cursive;
	font-size: 40px;
	text-align: center;		
}

table {
	position: relative;
	margin-left: 10%;	
}

table tr:nth-child(2) {	
	margin: 0 auto;	
	background-color: #f00;
}

table tr:last-child {
	background-color: pink;
}

.boton {
	background: purple;
	border-style: none;
	width: 150px;
	height: 40px;
	border-radius: 1em;
	border: 3px double;
	color: white;
	/*margin-bottom: 10px;*/
	cursor: pointer;
	box-shadow: 2px 2px 5px #999;
	position: relative;	
	left: 40%;
	top: 50px;
	
}

.boton:hover {
	color: #FBE402;
	text-decoration: none;
}